<nav>
  <div class="container">
    <a class="navbar-brand decoration_none" href="/">LangTool</a>
    <div class="navbar-right">
      <%= if signed_in?(@conn) do %>
        <%= link "SignOut", to: "", class: "decoration_none" %>
      <% else %>
        <a class="decoration_none" href="<%= registration_path(@conn, :new) %>">SignUp</a>
      <% end %>
    </div>
  </div>
</nav>
