<div id="settings" class="container flex">
  <div class="left">
    <div class="section">
      <%= link "Translation keys", to: translation_keys_path(@conn, :index), class: "decoration_none active" %>
    </div>
  </div>
  <div class="right">
    <div class="section">
      <div class="head">
        Edit translation key
      </div>
      <%= render "form.html", Map.put(assigns, :action, translation_keys_path(@conn, :update, @translation_key)) %>
    </div>
  </div>
</div>
