Thank you for joining LangTool

To confirm your email you need visit <a href="<%= Application.get_env(:langtool_pro, :host) %>/registration/confirm?email=<%= @user.email %>&confirmation_token=<%= @user.confirmation_token %>">confirmation page</a>
