@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");

* {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 300;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

html {
  font-size: 20px;
  line-height: 1.2;
}

body {
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
}

h3, h4 {
  font-size: 1.25rem;
}

p {
  margin: 0;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
}
