footer {
  padding: 1.5rem;

  .container {
    display: flex;
    justify-content: space-between;

    div {
      &:nth-of-type(2) {
        img {
          height: 1.5rem;
        }
      }
    }
  }
}
