@import "variables";

.flex {
  display: flex;

  &.centered {
    justify-content: center;
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  .full-size {
    flex: 1;
  }
}

.container {
  max-width: 72rem;
  margin: 0 auto;
}

.alert {
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  &.alert-success {
    color: $dark;
    background-color: $green-default;
    border-color: $green-default-dark;
  }

  &.alert-danger {
    color: $grey-dark;
    background-color: $pink-default;
    border-color: $pink-default-dark;
  }
}

.form-group {
  margin-bottom: 1rem;

  .control-label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $grey-dark;
    border: 1px solid $grey-light;
    border-radius: 0.25rem;
  }
}

.btn {
  display: inline-block;
  color: $dark;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;

  &.btn-primary {
    color: $white;
    background-color: $blue-default;
    border-color: $blue-default;
  }

  &.btn-danger {
    color: $white;
    background-color: $red-default;
    border-color: $red-default;
  }

  &.btn-small {
    padding: 0.4rem 0.5rem;
    font-size: 0.8rem;
  }

  &:hover {
    cursor: pointer;
  }
}

a {
  &.decoration_none {
    text-decoration: none
  }
}

.hidden {
  display: none;
}

#user_menu {
  position: relative;

  .toggler {
    font-size: 1.25rem;
    color: $dark;

    &:hover {
      cursor: pointer;
    }
  }

  .menu {
    position: absolute;
    top: 2rem;
    right: 0;
    background: $white;
    box-shadow: 0 3px 10px 0 rgba(174, 174, 174, 0.5);
    min-width: 9rem;
    z-index: 1;

    a {
      margin: 0;
      padding: 0.6rem 1rem;
      font-size: 0.8rem;

      &:nth-of-type(n+2) {
        border-top: 1px solid $grey-light;
      }

      &:hover {
        background: $blue-default;
        color: $white;
      }
    }
  }
}
