#new_user, #new_session {
  min-width: 50%;
  min-height: 50%;

  .warning {
    margin-top: 3px;
    font-size: 0.8rem;
  }

  .header {
    margin-bottom: 1.5rem;
  }

  form {
    h2 {
      margin-bottom: 1.5rem;
    }
  }
}