@import "variables";

#settings {
  width: 100%;
  padding-top: 1rem;
  justify-content: space-between;

  .section {
    position: relative;
    margin-bottom: 1rem;
    border: solid 1px rgba(112, 112, 121, 0.25);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
  }

  .left {
    width: 25%;

    .section {
      a {
        display: block;
        padding: 0.8rem;
        color: $dark;
        font-size: 0.9rem;
        font-weight: 400;

        &.active {
          color: $white;
          background: $blue-default;

          &:hover {
            color: $white;
            background: $blue-default;
          }
        }

        &:hover {
          color: #111;
          background: #f8f8f8;
        }

        &:nth-of-type(n+2) {
          border-top: 1px solid $grey-light;
        }
      }
    }
  }

  .right {
    width: 70%;

    .section {
      padding: 1rem;
      border-radius: 8px;

      .head {
        font-size: 0.9rem;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid $grey-light;
      }

      .translation_keys {
        .translation_key {
          position: relative;
          margin-top: 1rem;
          padding: 0 0 1rem;
          border-bottom: 1px solid $grey-light;

          &:nth-last-of-type(1) {
            border-bottom: none;
            padding-bottom: 0;
          }

          .name {
            margin-bottom: 0.5rem;
            color: $blue-dark;
            font-size: 1.2rem;
            font-weight: 500;
          }

          p {
            font-size: 0.9rem;
            margin-bottom: 0.25rem;

            span {
              color: $grey-medium;
            }
          }

          .buttons {
            position: absolute;
            top: 0;
            right: 0;

            a {
              &:nth-last-of-type(1) {
                margin-left: 0.25rem;
              }
            }
          }
        }
      }

      #translation_key_form {
        margin-top: 1rem;
      }
    }
  }
}
