@import "variables";

#tasks {
  width: 100%;
  padding-top: 1rem;
  justify-content: space-between;

  .left {
    width: 45%;
  }

  .right {
    width: 50%;
  }

  .section {
    position: relative;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 5px 0 rgba(174, 174, 174, 0.25);
    padding: 1rem;
    width: 100%;

    .head {
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid $grey-light;
    }

    .tasks {
      margin-top: 1rem;
    }
  }

  #new_task {
    .row {
      display: flex;
      flex-direction: row;

      div {
        width: 48%;

        &:nth-of-type(1) {
          margin-right: 4%;
        }
      }
    }

    .disabled {
      pointer-events: none;
    }

    .current {
      label {
        font-weight: 500;
      }

      select {
        border-color: $grey-dark;
      }
    }

    select {
      &:hover {
        cursor: pointer;
      }
    }

    input[type="file"] {
      display: none;
    }

    .file_uploader {
      display: block;
      padding: 0.375rem;
      background: $grey-medium;
      margin-bottom: 0;
      border-radius: 0.25rem;

      &:hover {
        cursor: pointer;
      }

      &.error {
        background: $error;
        color: $white;
      }
    }

    #original_language {
      height: 2rem;
      width: 100%;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 0.375rem;
      font-size: 1rem;
    }

    button {
      &.disabled {
        background: $blue-light;
        border-color: $blue-light;
      }
    }
  }

  #new_task_description {
    .header {
      font-weight: 400;
      font-size: 1.1rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.75rem;

        .caption {
          font-size: 0.9rem;
          color: $grey-medium;
        }
      }
    }
  }
}
