$white: #fff;
$grey-dark: #495057;
$grey-medium: #aaa;
$grey-light: #d8d8d8;
$dark: #155724;

$blue-dark: #1463d9;
$blue-light: #cce5ff;
$blue-default: #007bff;

$green-default: #d4edda;
$green-default-dark: #c3e6cb;
$pink-default: #f8d7da;
$pink-default-dark: #f5c6cb;
$red-default: #dc3545;
$red-default-dark: #dc3545;

$error: #f33b4c;
