$white: #fff;
$grey-dark: #495057;
$grey-light: #d8d8d8;
$dark: #155724;

$blue-light: #cce5ff;
$blue-default: #007bff;

$green-default: #d4edda;
$green-default-dark: #c3e6cb;
$red-default: #f8d7da;
$red-default-dark: #f5c6cb;
