<div id="settings" class="container flex">
  <div class="left">
    <div class="section">
      <%= link "Translation keys", to: translation_keys_path(@conn, :index), class: "decoration_none" %>
    </div>
  </div>
  <div class="right">
    <div class="section">
      <div class="head">
        Settings
      </div>
    </div>
  </div>
</div>
